<div class="row">
  <h2>{{model.heading}}</h2>
</div>
<div class="row">
  <img src={{model.image}}>
</div>
<div class="row">
  {{model.author}} | {{model.date}}
</div>
<div class="row">
  {{model.article}}
</div>
